@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

img {
  width: 100%;
  height: auto;
}

ul, li {
  list-style: none;
}

body {
  background: #dbdbdb;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  color: #fff;
  background: #161616;
  text-transform: uppercase;
  font-family: 'Do Hyeon', sans-serif;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav li {
  list-style: none;
  font-size: 1.4rem;
  padding: 0.7em;
  -webkit-transition: all .4s;
  transition: all .4s;
}

nav li:hover {
  background: #e44545;
  color: #000;
}

section {
  margin: 2.5rem auto;
  max-width: 1200px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3.5rem;
}

main h2 {
  font-size: 36px;
}

main h3 {
  font-size: 36px;
}

main li {
  font-size: 24px;
}

main p {
  font-size: 24px;
}

.about {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about > div {
  margin: .5rem;
}

.about .about_info {
  padding: 1rem;
  border-left: 2px solid rgba(228, 69, 69, 0.75);
  background: #ffffff69;
  -webkit-box-shadow: 3px 5px 10px 3px #16161675;
          box-shadow: 3px 5px 10px 3px #16161675;
  font-family: 'Baloo Tamma 2', cursive;
  max-width: 400px;
}

.about .photo img {
  max-width: 400px;
  border-radius: 50px;
  -webkit-box-shadow: 3px 5px 10px 3px #16161675;
          box-shadow: 3px 5px 10px 3px #16161675;
}

.skills {
  margin: 5rem 0;
  font-family: 'Baloo Tamma 2', cursive;
}

.skillbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skillbox > div {
  border-left: 3px solid #e4e420;
  padding-left: 1rem;
}

footer {
  padding: 1rem 0;
  background: #161616;
  color: #fff;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .box {
  border-left: 1px solid #fff;
  padding-left: 1rem;
}

footer li {
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  line-height: .9;
  font-size: 1.3rem;
  list-style: none;
}
/*# sourceMappingURL=style.css.map */